---
title: :-( Not found
layout: page
permalink: /404.html
---


{% extends 'page.njk' %}

{% block content %}
<p>The content you are trying to reach is not here.</p>
<p>You might try these:
<ul>
<li><a href="/mix">the mix</a></li>
<li><a href="/">home page</a></li>
</p>
{% endblock content %}
