---
permalink: "/feed.xml"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ pkg.author }}</title>
	<link href="{{ metadata.feed.url }}" rel="self" />
	<link href="{{ metadata.url }}" />
	<updated>{{ collections.mix[0].date | dateToDay }}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author }}</name>
    </author>

    {% for item in collections.mix %}
    <entry>
        <title>{{ item.data.title }}</title>
        <link href="{{ item.url | absoluteUrl }}" />
        <updated>{{ item.date | dateToDay}}</updated>
        <id>{{ item.url | absoluteUrl }}</id>
    </entry>
    {% endfor %}
</feed>