---
title: magnus anderssen
summary: I do stuff with my brain, my fingers and an editor.
---

{% extends 'layout.njk' %}

{% block content %}
<div class="min-h-screen md:flex md:flex-row justify-between items-center">
  <div class="my-2">
    <h1 class="font-serif text-6xl md:text-7xl">Magnus Anderssen</h1>
  {% include 'includes/about.njk' %}
  </div>
</div>
{% endblock content %}