---
pagination:
  data: 'collections.minis'
  size: 10
---

{% extends 'special.njk' %}

{% block content %}
    <h1>
        Minis
        {% if pagination.hrefs.length > 1 %}
        {{ pagination.pageNumber + 1}}/{{pagination.hrefs.length}}
        {% endif %}
    </h1>

    <p>Mostly links to and screenshots of stuff.</p>
    <div id="the-list">
        {% for item in pagination.items %}
            <div class="pb-16 h-full cursor-pointer">
                <div class="flex flex-row justify-between text-xs font-bold">
                    {% if updated %}
                    <time datetime="{{ item.data.updated | dateToDay }}">{{ item.data.updated  | dateToDay }}</time>
                    {% else %}
                    <time datetime="{{ item.data.date | dateToDay }}">{{ item.data.date  | dateToDay }}</time>
                    {% endif %}
                </div>
   
                    {% include 'includes/summary.njk' %}
                </div>
            {% endfor %}
    </div>
    {% include 'includes/pagination.njk' %}
{% endblock %}

{% block js %}
{% include "list-js.njk" %}
{% endblock %}
