---
pagination:
  data: 'collections.mix'
  size: 10
---

{% extends 'special.njk' %}

{% block content %}
    <h1>
    The Mix {{ pagination.pageNumber + 1}}/{{pagination.hrefs.length}}
    </h1>

    <nav class="mb-8">
    See only:
        <a href="/longs/" class="font-serif uppercase">Longs</a> |
        <a href="/minis/" class="font-serif uppercase">Minis</a>
    </nav>

    {% set testLong = r/^\/longs\/.*/ %}
    {% set testMini = r/^\/minis\/.*/ %}

    <div id="the-list">
    {% for item in pagination.items %}
        <div class="pb-16 h-full cursor-pointer">
        {% if testLong.test(item.url) %}
            <div class="flex flex-row justify-between text-xs font-bold">
                <span class="uppercase font-mono">Long</span>
                {% if updated %}
                <time datetime="{{ item.data.updated | dateToDay }}">{{ item.data.updated  | dateToDay }}</time>
                {% else %}
                <time datetime="{{ item.data.date | dateToDay }}">{{ item.data.date  | dateToDay }}</time>
                {% endif %}
            </div>
        {% elif testMini.test(item.url) %}
            <div class="flex flex-row justify-between text-xs font-bold">
                <span class="uppercase font-mono">Mini</span>
                {% if updated %}
                <time datetime="{{ item.data.updated | dateToDay }}">{{ item.data.updated  | dateToDay }}</time>
                {% else %}
                <time datetime="{{ item.data.date | dateToDay }}">{{ item.data.date  | dateToDay }}</time>
                {% endif %}
            </div>
        {% endif %}
        {% include 'includes/summary.njk' %}
        </div>
    {% endfor %}
    </div>

    {% include 'includes/pagination.njk' %}
{% endblock %}

{% block js %}
  {% include "list-js.njk" %}
{% endblock %}
