{% extends 'layout.njk' %}

{% block content %}
<h1>Notes</h1>
<p>Probably only interesting me.</p>

<div id="the-list" class="grid gap-4 md:grid-cols-2">
    {% for item in collections.notes %}
        <div class="h-full cursor-pointer border-2 border-green-100 hover:bg-green-100 p-2 rounded-md">
            <h2 class="m-0 px-1">
                <a class="text-black no-underline" href="{{ item.url }}">{{ item.data.title }}</a>
            </h2>
            {% if item.data.summary %}
                {{ item.data.summary }}
            {% else %}
                {{ item.templateContent | striptags(true) | truncate(50) | escape | nl2br  }}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
