---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - longs
    - minis
    - notes
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

{% extends 'page.njk' %}

{% block content %}

<h1>Tagged “{{ tag }}”</h1>
<div id="the-list">
    {% set testLong = r/^\/longs\/.*/ %}
    {% set testMini = r/^\/minis\/.*/ %}
    {% set taglist = collections[ tag ] %}
    {% for item in taglist | filterTagList | reverse %}
        <div class="pb-16 h-full cursor-pointer">
        {% if testLong.test(item.url) %}
            <div class="flex flex-row justify-between text-xs font-bold">
                <span class="uppercase font-mono">Long</span>
                {% if updated %}
                <time datetime="{{ item.data.updated | dateToDay }}">{{ item.data.updated  | dateToDay }}</time>
                {% else %}
                <time datetime="{{ item.data.date | dateToDay }}">{{ item.data.date  | dateToDay }}</time>
                {% endif %}
            </div>
        {% elif testMini.test(item.url) %}
            <div class="flex flex-row justify-between text-xs font-bold">
                <span class="uppercase font-mono">Mini</span>
                {% if updated %}
                <time datetime="{{ item.data.updated | dateToDay }}">{{ item.data.updated  | dateToDay }}</time>
                {% else %}
                <time datetime="{{ item.data.date | dateToDay }}">{{ item.data.date  | dateToDay }}</time>
                {% endif %}
            </div>
        {% endif %}

            {% include 'includes/summary.njk' %}
        </div>
    {% endfor %}
</div>
{% endblock %}}
