---
permalink: /tags/
title: Tags
---

{% extends 'page.njk' %}

{% block content %}
<h1>Tags</h1>

<ul class="pb-8">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag.tag | slug }}/{% endset %}
  <li>
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag.tag }}</a> ({{tag.count}})
  </li>
{% endfor %}
</ul>
{% endblock %}