@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Fira;
		src: url('../../node_modules/@typopro/web-fira-sans/TypoPRO-FiraSans-Book.woff') format('woff');
		font-display: swap;
	}

	@font-face {
		font-family: FiraBold;
		src: url('../../node_modules/@typopro/web-fira-sans/TypoPRO-FiraSans-Bold.woff') format('woff');
		font-display: swap;
	}

	@font-face {
		font-family: FiraMono;
		src: url('../../node_modules/@typopro/web-fira-mono/TypoPRO-FiraMono-Medium.woff') format('woff');
		font-weight: 700;
		font-display: swap;
	}

	@font-face {
		font-family: BreeSerif;
		src: url('../../node_modules/@typopro/web-bree-serif/TypoPRO-BreeSerif-Regular.woff') format('woff');
		font-weight: 700;
		font-display: swap;
	}

	html {
		@apply font-sans text-gray-900 leading-normal;
		font-size: 20px;
	}

	body {
		@apply min-h-screen bg-white;
	}

	h1 {
		@apply font-serif my-4 font-semibold text-4xl;
	}

	h2 {
		@apply font-serif my-4 text-2xl;
	}

	h3 {
		@apply font-serif my-4 text-xl;
	}

	p {
		@apply py-2;
	}

	a {
		@apply text-blue-700 underline;
	}

	ol {
		@apply py-2 list-decimal list-inside md:list-outside;
	}

	ul {
		@apply py-2 list-disc list-inside md:list-outside;
	}

	li p {
		@apply inline-block;
	}

	code {
		@apply font-mono;
	}

	pre {
		@apply bg-green-50 border-green-100 p-2 overflow-x-auto overflow-y-hidden;
	}

	blockquote {
		@apply bg-red-50 border-red-100 p-2 overflow-x-auto overflow-y-hidden  border-l-2;
	}
	b,
	strong {
		font-family: 'FiraBold';
	}
}
