<script>
  export let content = "Back";

  const buildBackUrl = () => {
    if (document.referrer) {
      if (/magnus\.anderssen\.ch/.test(document.referrer)) {
        return document.referrer;
      }
      return "/";
    }

    return `${/(\/[^\/]*)/.exec(document.location.pathname)[0]}/`;
  };

  let url = buildBackUrl();
</script>

<span>
  <a href={url}>{content}</a>
</span>

<style>
  span:before {
    content: "⬅ ";
  }
</style>
