<script>
  import Modal from './modal.svelte'
  export let email;
  export let rr;
  export let phone;
  export let content;

/**
 * 
 * @param str {string}
 * @param rr {number}
 */
  const clarify = (str, rr) =>
    str
      .split("")
      .map((x) => String.fromCharCode(x.charCodeAt(0) + rr))
      .join("");

  let realEmail = clarify(email, rr);
  let realPhone = clarify(phone, rr);
  let emailUrl = `mailto:${clarify(email, rr)}?subject=from the site`;
  let phoneUrl = `tel:${clarify(phone, rr)}`;

  const changeLocation = (where) => (window.location = where);
</script>

<Modal title="Contact me">
    <button slot="trigger" class="underline text-blue-700">
        {content}
    </button>

    <div class="flex items-baseline w-full my-2 gap-6">
        <div>
            {realEmail}
        </div>
        <button
            class="ml-auto w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            title={emailUrl}
            on:click={() => changeLocation(emailUrl)}
        >
            Write
        </button>
    </div>
    <diV class="flex items-baseline w-full">
        <div>
            {realPhone}
        </div>
        <button
            class="ml-auto w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            title={phoneUrl}
            on:click={() => changeLocation(phoneUrl)}
        >
            Call
        </button>
    </diV>
</Modal>
