<script>
	import { onMount } from 'svelte';
	import { fade, slide } from 'svelte/transition';
	import isMobile from './isMobile';

	export let scrollThreshhold = 600;
	export let title = '';
	export let url = '';
	export let confirmCopy = false;

	const mobile = isMobile();

	let showShare = false;
	let extendedShare = false;

	function handleScroll() {
		if (window.scrollY > scrollThreshhold) {
			showShare = true;
		}
	}

	async function shareThis() {
		if (navigator.share) {
			try {
				await navigator.share({
					title,
					text: `Check out ${title}`,
					url
				});
			} catch (e) {
				const error = encodeURIComponent(e.message || e);
				fetch(`/no-cache?shareFail=${error}`);
			}
		} else {
			// fallback to twitter/linkedin
			extendedShare = !extendedShare;
		}
	}

	async function copyToClipboard() {
		try {
			confirmCopy = true;
			await navigator.clipboard.writeText(url);
		} catch (e) {
			const error = encodeURIComponent(e.message || e);
			console.error(e);
			fetch(`/no-cache?clipboardFail=${error}`);
		}
	}

	onMount(() => {
		document.addEventListener('scroll', handleScroll);
		return () => {
			document.removeEventListener('scroll', handleScroll);
		};
	});
</script>

{#if showShare}
	<span class="fixed flex flex-col items-end bottom-4 right-4" transition:fade>
		{#if extendedShare}
			<div class="flex flex-col items-end pb-4 opacity-90 bg-white" transition:slide>
				{#if navigator.clipboard}
					<button class="flex justify-end gap-4 p-4 hover:bg-slate-200" on:click={copyToClipboard}>
						<span>Copy to clipboard</span>
						{#if confirmCopy}
							<span style="height:24px;width:24px">✔</span>
						{:else}
							<svg
								width="24"
								height="24"
								fill="#000000"
								version="1.1"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path d="m-2-1h24v24h-24z" fill="none" />
								<path
									d="m14 0h-12c-1.1 0-2 0.9-2 2v14h2v-14h12zm3 4h-11c-1.1 0-2 0.9-2 2v14c0 1.1 0.9 2 2 2h11c1.1 0 2-0.9 2-2v-14c0-1.1-0.9-2-2-2zm0 16h-11v-14h11z"
								/>
							</svg>
						{/if}
					</button>
				{/if}
				<a
					href="https://www.linkedin.com/shareArticle?mini=true&url={url}&title={title}&source=magnus.anderssen.ch"
					class="flex justify-end gap-4 p-4 text-black no-underline hover:bg-slate-200"
					target="_blank"
					rel="noreferrer"
				>
					<span>Share on</span>
					<span>
						<svg
							width="24"
							height="24"
							clip-rule="evenodd"
							fill-rule="evenodd"
							stroke-linejoin="round"
							stroke-miterlimit="2"
							version="1.1"
							viewBox="0 0 223 223"
							xml:space="preserve"
							xmlns="http://www.w3.org/2000/svg"
							><g fill="#0a66c2" fill-rule="nonzero">
								<path
									d="m377.97-46.366h0.04c2.27 0 4.14-1.869 4.14-4.14 0-0.08 0-0.159-0.01-0.239 0-3.105-1.87-4.589-5.72-4.589h-6.21v16.26h2.34v-7.088h2.87l0.06 0.086 4.46 7.002h2.5l-4.79-7.247zm-2.71-1.629h-2.71v-5.496h3.44c1.77 0 3.79 0.289 3.79 2.612 0 2.671-2.04 2.884-4.53 2.884m-907.39-176.16h34.482v125.61h63.839v31.822h-98.321zm113.57 50.687h33.127v106.68h-33.127zm16.563-53.037c10.541 2e-3 19.214 8.676 19.214 19.217 0 10.542-8.675 19.217-19.217 19.217s-19.217-8.675-19.217-19.217 8.675-19.217 19.217-19.217h3e-3m155.14 2.326h33.127v94.083l37.544-43.42h40.615l-43.479 49.39 42.564 57.385h-41.636l-35.166-52.734h-0.435v52.727h-33.127zm-120.2 50.722h31.812v14.579h0.452c6.465-11.077 18.55-17.716 31.367-17.233 33.593 0 39.776 22.102 39.776 50.815v58.503h-33.127v-51.867c0-12.381-0.227-28.296-17.253-28.296-17.219 0-19.876 13.482-19.876 27.395v52.755h-33.127z"
								/><path
									d="m-65.827-132.53c3e-3 -0.156 5e-3 -0.313 5e-3 -0.469 0-10.896-8.966-19.862-19.862-19.862-0.161 0-0.321 2e-3 -0.482 6e-3 -11.965-0.745-22.467 8.373-23.409 20.325zm28.061 47.274c-11.141 13.51-27.791 21.311-45.301 21.226-33.127 0-59.649-22.113-59.649-56.354 0-34.241 26.519-56.343 59.649-56.343 30.963 0 50.38 22.084 50.38 56.343v10.387h-76.888c1.97 12.124 12.685 21.038 24.965 20.77 9.571-0.06 18.484-4.975 23.641-13.037zm74.128-62.42c-16.563 0-26.501 11.06-26.501 27.175s9.934 27.184 26.501 27.184 26.526-11.042 26.526-27.184c0-16.143-9.942-27.175-26.526-27.175m57.023 80.875h-30.497v-14.148h-0.452c-7.75 10.423-19.946 16.644-32.934 16.798-31.829 0-52.796-22.972-52.796-55.457 0-29.834 18.555-57.23 49.055-57.23 13.71 0 26.516 3.751 34.028 14.148h0.435v-61.495h33.157zm223.64 0.062h-33.127v-51.878c0-12.371-0.221-28.296-17.229-28.296-17.254 0-19.894 13.478-19.894 27.395v52.775h-33.126v-106.68h31.801v14.579h0.446c6.475-11.071 18.559-17.708 31.377-17.232 33.575 0 39.766 22.084 39.766 50.815zm-140.75-121.27h-4e-3c-10.546 0-19.224-8.677-19.224-19.223s8.678-19.224 19.224-19.224c10.545 0 19.222 8.676 19.224 19.22v4e-3c0 10.544-8.676 19.222-19.22 19.223m16.563 121.27h-33.161v-106.69h33.161zm140.7-190.48h-190.51c-8.943-0.101-16.388 7.171-16.497 16.114v191.3c0.105 8.948 7.549 16.228 16.497 16.132h190.51c8.97 0.113 16.44-7.166 16.56-16.132v-191.32c-0.12-8.962-7.6-16.233-16.56-16.115m42.01 194.66c-8.31 0.08-15.1 6.936-15.1 15.244 0 8.364 6.88 15.246 15.24 15.246 8.37 0 15.25-6.882 15.25-15.246 0-8.308-6.79-15.164-15.1-15.244h-0.29m0 28.744c-0.08 1e-3 -0.15 2e-3 -0.23 2e-3 -7.33 0-13.36-6.034-13.36-13.368 0-7.333 6.03-13.368 13.36-13.368 7.25 0 13.25 5.897 13.37 13.145v0.225c0.15 7.173-5.62 13.202-12.79 13.357h-0.35"
								/>
								<path
									d="m190.5 190.49h-33.127v-51.878c0-12.371-0.221-28.296-17.229-28.296-17.254 0-19.894 13.478-19.894 27.395v52.775h-33.126v-106.68h31.801v14.579h0.446c6.475-11.071 18.559-17.708 31.377-17.232 33.575 0 39.766 22.084 39.766 50.815zm-140.75-121.27h-4e-3c-10.546 0-19.224-8.677-19.224-19.223s8.678-19.224 19.224-19.224c10.545 0 19.222 8.676 19.224 19.22v4e-3c0 10.544-8.676 19.222-19.22 19.223m16.563 121.27h-33.161v-106.69h33.161zm140.7-190.48h-190.51c-8.943-0.101-16.388 7.171-16.497 16.114v191.3c0.105 8.948 7.549 16.228 16.497 16.132h190.51c8.97 0.113 16.44-7.166 16.56-16.132v-191.32c-0.12-8.962-7.6-16.233-16.56-16.115"
								/></g
							></svg
						>
					</span>
				</a>
				<a
					href="https://twitter.com/intent/tweet?url={url}&text={title}"
					target="_blank"
					rel="noreferrer"
					class="flex justify-end gap-4 p-4 text-black no-underline hover:bg-slate-200"
				>
					<span>Tweet this</span>
					<span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							aria-hidden="true"
							focusable="false"
							role="none"
							class="u01b__icon-home"
						>
							<path opacity="0" d="M0 0h24v24H0z" />
							<path
								d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
							/>
						</svg>
					</span>
				</a>
			</div>
		{/if}
		<button
			aria-label="Share this page"
			class="bg-blue-500 text-white pl-4 pr-4 pt-2 pb-2 rounded-3xl flex items-center gap-4"
			on:click={shareThis}
		>
			<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
				><path d="M0 0h24v24H0V0z" fill="none" /><path
					d="M18 16.1c-.8 0-1.4.3-2 .8l-7.1-4.2c.1-.2.1-.5.1-.7s0-.5-.1-.7L16 7.2c.5.5 1.2.8 2 .8 1.7 0 3-1.3 3-3s-1.3-3-3-3-3 1.3-3 3c0 .2 0 .5.1.7L8 9.8C7.5 9.3 6.8 9 6 9c-1.7 0-3 1.3-3 3s1.3 3 3 3c.8 0 1.5-.3 2-.8l7.1 4.2c-.1.2-.1.4-.1.6 0 1.6 1.3 2.9 2.9 2.9s2.9-1.3 2.9-2.9-1.2-2.9-2.8-2.9z"
					fill="currentColor"
				/></svg
			>
			{#if !mobile}
				<span class="font-bold text-2xl uppercase"> Share</span>
			{/if}
		</button>
	</span>
{/if}
