<script>
	let on = new Date().getHours() > 18;

	const html = document.querySelector('html');
	const h1 = document.querySelectorAll('h1')[0];
	const body = document.body;

	body.style.overflowX = 'hidden';
	html.style.overflowX = 'hidden';
	body.style.position = 'relative';

	setTimeout(() => {
		if (window.innerWidth < 500) {
			document.querySelector('.light-bulbs').style.left = '-50px';
		}
	}, 0);

	function toggle() {
		on = !on;
	}
</script>

<!--
  Based on https://dev.to/blueyedgeek/let-s-build-christmas-lights-with-html-css-and-javascript-2nb5
-->
<button class="light-bulbs {on ? 'on' : ''}" on:click={toggle}>
	<div class="light-bulb theme-color-one">
		<input type="color" class="color-setting hidden" value="#025ba0" data-theme-color="one" />
	</div>
	<div class="light-bulb theme-color-two">
		<input type="color" class="color-setting hidden" value="#9bc72b" data-theme-color="two" />
	</div>
	<div class="light-bulb theme-color-three">
		<input type="color" class="color-setting hidden" value="#f0c517" data-theme-color="three" />
	</div>
	<div class="light-bulb theme-color-four">
		<input type="color" class="color-setting hidden" value="#bf1724" data-theme-color="four" />
	</div>
	<div class="light-bulb theme-color-five" />
	<div class="light-bulb theme-color-one">
		<input type="color" class="color-setting hidden" value="#025ba0" data-theme-color="one" />
	</div>
</button>

<style>
	:root {
		--theme-color-one: #025ba0;
		--theme-color-two: #9bc72b;
		--theme-color-three: #f0c517;
		--theme-color-four: #bf1724;
		--theme-color-five: #5cc9f4;
		--white: #fff;
		--black: #000;
		--grey: #999;
	}

	@keyframes light-up-theme-color-one {
		0% {
			box-shadow: 0 1px 10px 5px var(--theme-color-one);
		}
		25% {
			box-shadow: 0 1px 15px 5px var(--theme-color-one);
		}
		50% {
			box-shadow: 0 1px 20px 5px var(--theme-color-one);
		}
		75% {
			box-shadow: 0 1px 25px 5px var(--theme-color-one);
		}
		100% {
			box-shadow: none;
		}
	}

	@keyframes light-up-theme-color-two {
		0% {
			box-shadow: 0 1px 10px 5px var(--theme-color-two);
		}
		25% {
			box-shadow: 0 1px 15px 5px var(--theme-color-two);
		}
		50% {
			box-shadow: 0 1px 20px 5px var(--theme-color-two);
		}
		75% {
			box-shadow: 0 1px 25px 5px var(--theme-color-two);
		}
		100% {
			box-shadow: none;
		}
	}

	@keyframes light-up-theme-color-three {
		0% {
			box-shadow: 0 1px 10px 5px var(--theme-color-three);
		}
		25% {
			box-shadow: 0 1px 15px 5px var(--theme-color-three);
		}
		50% {
			box-shadow: 0 1px 20px 5px var(--theme-color-three);
		}
		75% {
			box-shadow: 0 1px 25px 5px var(--theme-color-three);
		}
		100% {
			box-shadow: none;
		}
	}

	@keyframes light-up-theme-color-four {
		0% {
			box-shadow: 0 1px 10px 5px var(--theme-color-four);
		}
		25% {
			box-shadow: 0 1px 15px 5px var(--theme-color-four);
		}
		50% {
			box-shadow: 0 1px 20px 5px var(--theme-color-four);
		}
		75% {
			box-shadow: 0 1px 25px 5px var(--theme-color-four);
		}
		100% {
			box-shadow: none;
		}
	}

	@keyframes light-up-theme-color-five {
		0% {
			box-shadow: 0 1px 10px 5px var(--theme-color-five);
		}
		25% {
			box-shadow: 0 1px 15px 5px var(--theme-color-five);
		}
		50% {
			box-shadow: 0 1px 20px 5px var(--theme-color-five);
		}
		75% {
			box-shadow: 0 1px 25px 5px var(--theme-color-five);
		}
		100% {
			box-shadow: none;
		}
	}

	.hidden {
		opacity: 0;
	}

	.light-bulbs {
		/* background-color: #00000010; */
		/* box-shadow: 0 1px 10px 5px #00000010; */

		display: flex;
		justify-content: space-between;
		padding: 20px;
		width: 500px;
		margin: 0 auto;
		position: absolute;
		top: 79px;
		left: -37px;
		transform: rotate(-25deg);
	}

	.light-bulbs.on .light-bulb {
		animation-duration: 1.1s;
		animation-iteration-count: infinite;
	}

	.light-bulbs.on .light-bulb.theme-color-one {
		animation-name: light-up-theme-color-one;
	}

	.light-bulbs.on .light-bulb.theme-color-two {
		animation-name: light-up-theme-color-two;
	}

	.light-bulbs.on .light-bulb.theme-color-three {
		animation-name: light-up-theme-color-three;
	}

	.light-bulbs.on .light-bulb.theme-color-four {
		animation-name: light-up-theme-color-four;
	}

	.light-bulbs.on .light-bulb.theme-color-five {
		animation-name: light-up-theme-color-five;
	}

	.light-bulb {
		border-radius: 50%;
		height: 30px;
		position: relative;
		transition-duration: 0.4s;
		width: 30px;
		position: relative;
	}

	.light-bulb .color-setting {
		margin-top: 15px;
		position: absolute;
		top: 100%;
		left: -25%;
		transition-duration: 0.4s;
	}

	.light-bulb::before {
		content: '';
		position: absolute;
		border: 2px solid #222;
		width: 10px;
		height: 10px;
		background: #222;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		left: 29%;
		top: -9px;
	}

	.light-bulb::after {
		content: '';
		top: -22px;
		left: 42%;
		position: absolute;
		width: 90px;
		height: 28px;
		border-bottom: 4px solid #222;
		border-radius: 50%;
		z-index: -1;
	}

	.light-bulb:last-of-type::after {
		border: none;
	}

	.light-bulb.theme-color-one {
		background: var(--theme-color-one);
	}

	.light-bulb.theme-color-two {
		background: var(--theme-color-two);
	}

	.light-bulb.theme-color-three {
		background: var(--theme-color-three);
	}

	.light-bulb.theme-color-four {
		background: var(--theme-color-four);
	}

	.light-bulb.theme-color-five {
		background: var(--theme-color-five);
	}
</style>
