<div class="md:max-w-3xl md:mx-auto px-4">
    <h2>About me</h2>
    <p>
        Stuff I do with my brain, my fingers and an editor:
    </p>
    <span class="items-baseline justify-center whitespace-nowrap flex flex-wrap gap-4 mt-4">
        <span class="w-72 whitespace-normal">(Front-end) development - typescript, Vue, React, svelte(kit)</span>
        <span class="w-72 whitespace-normal">web architectures</span>
        <span class="w-72 whitespace-normal">web performance</span>
        <span class="w-72 whitespace-normal">API design</span>
        <span class="w-72 whitespace-normal">pragmatic SEO</span>
        <span class="w-72 whitespace-normal">security</span>
        <span class="w-72 whitespace-normal">Accessibility (A11y)</span>
        <span class="w-72 whitespace-normal">front-end dev recruitment</span>
        <span class="w-72 whitespace-normal">and probably more...</span>
    </span>
    <div class="flex items-center gap-4 align-baseline justify-center mt-6 mb-6">
        <a
            class="logo"
            href="https://linkedin.com/in/magnusanderssen"
            title="me on LinkedIn"
            ping="/no-cache?clickOnLink=linkedin">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="mercado-match"
                width="36"
                height="36"
                focusable="false">
                <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5
                    8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66
                    0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
            </svg>
        </a>
        <a
            class="logo"
            href="https://mastodon.social/@callmemagnus"
            title="callmemagnus on mastodon.social"
            ping="/no-cache?clickOnLink=mastodon">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 216.4144 232.00976" color=>
                <path
                    fill="#2b90d9"
                    d="M211.80734 139.0875c-3.18125 16.36625-28.4925 34.2775-57.5625 37.74875-15.15875 1.80875-30.08375 3.47125-45.99875
                        2.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125 0 2.53375.15625 4.94625.46875 7.2025 3.38375 25.68625 25.47 27.225
                        46.39125 27.9425 21.11625.7225 39.91875-5.20625 39.91875-5.20625l.8675 19.09s-14.77 7.93125-41.08125
                        9.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234 213.82 1.40609 165.31125.20859
                        116.09125c-.365-14.61375-.14-28.39375-.14-39.91875 0-50.33 32.97625-65.0825 32.97625-65.0825C49.67234 3.45375
                        78.20359.2425 107.86484 0h.72875c29.66125.2425 58.21125 3.45375 74.8375 11.09 0 0 32.975 14.7525 32.975 65.0825 0 0
                        .41375 37.13375-4.59875 62.915"/>
                <path
                    fill="#fff"
                    d="M177.50984 80.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025 0-17.4175 7.5075-17.4175
                        22.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375 0-15.74 6.32875-15.74
                        18.7975v59.15H38.90484V80.077c0-12.455 3.17125-22.3525 9.54125-29.675 6.56875-7.3225 15.17125-11.07625 25.85-11.07625
                        12.355 0 21.71125 4.74875 27.8975 14.2475l6.01375 10.08125 6.015-10.08125c6.185-9.49875 15.54125-14.2475 27.8975-14.2475
                        10.6775 0 19.28 3.75375 25.85 11.07625 6.36875 7.3225 9.54 17.22 9.54 29.675"/>
            </svg>
        </a>
    </div>
    <p>Feel free to
        <span class="contact-popin">contact me</span>
        or just read the
        <a href="/mix" ping="/no-cache?clickOnLink=mix">things I write on this site</a>.</p>
</div>