
<div class="border-l-2 border-gray-200 bg-gray-100 p-2 w-full md:w-1/2 text-xs mb-4 rounded">
    <div class="flex">
        <span class="w-1/3">Published</span>
        <time class="w-2/3" datetime="{{ date | dateToDay }}">{{ date | dateToDay }}</time>
    </div>
    {% if updated %}
        <div class="flex">
            <span class="w-1/3">Updated</span>
            <time class="w-2/3" datetime="{{ updated | dateToDay }}">{{ updated | dateToDay }}</time>
        </div>
    {% endif %}
    {% if url %}
        <div class="flex">
            <span class="w-1/3">Direct link</span>
            <a class="w-2/3" href="{{ url }}">{{ url }}</a>
        </div>
    {% endif %}
    {% if tags %}
        <div class="flex">
            <span class="w-1/3">In</span>
            <span class="w-2/3">
                {%- for tag in tags -%}
                {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                    <a href="{{ tagUrl | url }}">{{ tag }}</a>&nbsp;
                {%- endfor %}
            </span>
        </div>
    {% endif %}
</div>