<div class="flex flex-row justify-between">
    <span>
        {% if pagination.previousPageHref %}
        ← <a href="{{ pagination.previousPageHref }}">More recent</a>
        {% endif %}
    </span>
    <span>
        {% if pagination.nextPageHref %}
            <a href="{{ pagination.nextPageHref }}">Older</a> →
        {% endif %}
    </span>
</div>