
<h2 class="m-0 p-0">
    <a class="text-black no-underline" href="{{ item.url }}">{{ item.data.title }}</a>
</h2>
{% if item.data.summary %}
    <p>{{ item.data.summary }}</p>
    <p><a href="{{ item.url }}">Read more</a></p>
{% else %}
    {{ item.templateContent | safe }}
{% endif %}

{% if item.data.url %}
🔗 <a href="{{ item.data.url }}">{{ item.data.url | truncateUrl | safe }}</a>
{% endif %}
