<!DOCTYPE html>
  <html lang="en">
  <!-- You know your classics. Always look at the sources. -->
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="Eleventy">
    <meta name="generated" content="{{ now }}" />
    {%if draft %}
      <meta name="robots" content="noindex">
    {% endif %}
    <link rel="webmention" href="https://webmention.io/magnus.anderssen.ch/webmention" />
    <link rel="pingback" href="https://webmention.io/magnus.anderssen.ch/xmlrpc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <link rel="alternate" type="application/atom+xml" title="Mix" href="/feed.xml" />
    
    <!-- icons -->
    <link rel="icon" href="{{ '/icons/favicon.ico' | addHash }}">
    <link rel="shortcut icon" href="{{ '/icons/favicon.ico' | addHash }}">
    

    <!-- behaviors -->
    <script src="{{ '/main.js' | addHash }}" defer></script>
    <!-- styles -->
    <link rel="stylesheet" href="{{ '/main.css' | addHash }}" />

    <meta name="description" content="{{ summary }}">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ summary }}">
    <!--<meta itemprop="image" content="">-->

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ summary }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ summary }}">
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      {% block special %}
      {% endblock %}
      <main id="content" class="container max-w-screen-md md:mx-auto px-4 flex-1">
        <noscript>
          <p>When javascript is disabled, some features might not be available.</p>
        </noscript>
        {% if draft %}
          <div class="fixed bg-yellow-300 left-0 top-0 p-2 w-full font-sans">
            <p class="md:px-10"><span class="font-bold">D - R - A - F - T</span> : Only continue reading if you arrived here with a direct link!</p>
          </div>
        {% endif %}

        {% block content %}
          <p>You should not see this</p>
        {% endblock %}
      </main>
      {% block footer %}
      {% endblock %}
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
