{% extends 'special.njk' %}
{% block content %}
    <div class="md:flex gap-4 center items-baseline mt-4 mb-2 justify-between">
        <div class="back-button">Back to list</div>
        <small>{{ title }}</small>
    </div>
    {% include 'includes/meta.njk' %}
    <span class="bg-blue-100 uppercase p-1 text-xs font-mono">Long</span>
    {{ content | safe }}
    {% include "includes/share.njk" %}
{% endblock %}
