{% extends 'special.njk' %}

{% block content %}

<p class="back-button">Back to list</p>

<h1 class="flex flex-col items-start mt-0">
    <span class="bg-blue-100 uppercase mt-1 p-1 mr-2 text-xs font-mono">Mini</span>
    <span>{{ title }}</span>
</h1>

{% include 'includes/meta.njk' %}

{{ content | safe }}

{% endblock %}