{% extends 'layout.njk' %}

{% block content %}

<p class="back-button">Back to list</p>

<h1 class="flex flex-col items-start mt-0">
    <span>{{ title }}</span>
</h1>

{% include 'includes/meta.njk' %}

{{ content | safe }}

{% endblock %}