{% extends 'layout.njk' %}

{% block content %}
<h1 class="font-serif text-6xl md:text-7xl">{{ title }}</h1>

{{ content | safe }}

{% endblock %}

{% block footer %}
    <footer id="footer" class="bg-gray-300 p-4 mt-8">
        <div class="md:mx-auto">
            {% include 'includes/about.njk' %}
        </div>
    </footer>
{% endblock footer %}