{% extends 'layout.njk' %}

{% block special %}
<div id="special" class="bg-gray-300 hidden">
    <div class="min-h-screen flex flex-col justify-center items-center">
        <h1 class="px-2 font-serif text-6xl md:text-7xl">Magnus Anderssen</h1>
        <p>
            <a class="block text-center" href="#footer">about me</a>
        </p>
    </div>
</div>
<script type="module">
const storageKey = 'initialScroll';

if (!sessionStorage.getItem(storageKey)) {
    const special = document.getElementById('special');
    special.classList.remove('hidden');
    
    sessionStorage.setItem(storageKey, 'OK');

    const autoscroll = setTimeout(() => {
        const height = window.innerHeight;
        window.scrollTo({
            top: height,
            left: 0,
            behavior: 'smooth'
        })
    }, 1500);

    function hideSpecial() {
        const special = document.getElementById('special');
        if (special) {

            special.parentNode.removeChild(special);
            // scroll is kept
            window.scrollTo({
                top: Math.max(window.scrollY - window.innerHeight, 0),
                left: 0,
                behavior: "auto"
            })

            sessionStorage.setItem(storageKey, 'OK');
        }
    }

    function handleScroll() {
        clearTimeout(autoscroll);
        if (window.innerHeight <= window.scrollY) {
            hideSpecial();
            document.removeEventListener("scroll", handleScroll);
        }
    }

    document.addEventListener("scroll", handleScroll);
}


</script>
{% endblock %}

{% block footer %}
    <footer id="footer" class="bg-gray-300 p-4 mt-8">
        <div class="md:mx-auto">
            {% include 'includes/about.njk' %}
        </div>
    </footer>
{% endblock footer %}